---
layout: default.hbs
---

{{> nav }}
{{> banner }}
{{> heading }}
<div class="text-center">
  <a class="btn btn-primary">
	  Toggle to read a qoute about cats
	</a>
  <div>
    <h2>A beautiful quote about cats</h2>
    <p>"A cat has absolute emotional honesty: human beings, for one reason or another, may hide their feelings, but a cat does
      not." ― Ernest Hemingway</p>
  </div>
</div>
{{> panel }}

<footer class="footer">
  <div class="container-fluid">
    <p>&copy; 2017 DT Code Test.</p>
  </div>
</footer>
