<div class="banner">
  <div class="banner-inner">
    <div class="item">
      <img class="banner-image" src="assets/img/hero-cat.jpg" alt="First slide">
      <div class="container">
        <div class="banner-caption">
          <h1>DT Cat Code Test</h1>
          <p>Let's see if we can get this working!</p>
        </div>
      </div>
    </div>
  </div>
</div>