<div class="quote">
  <div class="container text-center">
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseQuote" aria-expanded="false" aria-controls="collapseQuote">Toggle to read a quote about cats</a>
    <div class="collapse" id="collapseQuote">
      <h2>A beautiful quote about cats</h2>
      <p>"A cat has absolute emotional honesty: human beings, for one reason or another, may hide their feelings, but a cat does
        not." ― Ernest Hemingway</p>
    </div>
  </div>
</div>
