<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DT</title>
    <link rel="stylesheet" href="../assets/css/main.css">
</head>
<body>

{{>body}}

<script src="../assets/js/vendor.min.js" rel="script" type="text/javascript"></script>
<script src="../assets/js/script.min.js" rel="script" type="text/javascript"></script>

</body>
</html>
